.container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.playerStart {
    margin: 20px 0 0 50px;
    width: 500px;
    height: 20px;
    
}


.gameContainer {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    margin: 20px 0 0 50px;
    visibility: hidden;
}


.box {
    border: 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}


#nil, #one, #two {
    border-top: none;
    border-right: none;
}


#three, #four, #five {
    border-top: none;
    border-right: none;
}


#six, #seven, #eight {
    border-top: none;
    border-right: none;
    border-bottom: none;
}


#nil, #three, #six {
    border-left: none;
}



.restart {
    margin: 20px 0 0 50px;
    width: 100px;
}


.endgameMessage {
    margin: 20px 0 0 50px;
    width: 500px;
    height: 40px;
    
}